.roundedTopDiv {
  border-radius: 10%;
  text-align: center;
  width: 176px;
  height: 125px;
  background: #ff851b;
  margin-left: 10px;
}

.activitiesBox {
  width: 350px;
  height: 125px;
  left: 24px;
  top: 336px;
  background: #c4c4c4;
}

.dateBox {
  width: 125px;
  height: 34px;
  left: 56px;
  top: 336px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000;
}

.activityBox {
  width: 225px;
  height: 25px;
  left: 43px;
  top: 381px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000;
}

.userBox {
  width: 225px;
  height: 33px;
  left: -14px;
  top: 419px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000;
}

.headingTop {
  width: 175px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #fff;
}

.headingBottom {
  width: 81px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.15px;
  color: #fff;
}

.white {
  color: white;
  padding: 10px;
}

.topBar {
  display: flex;
  justify-content: center;
}

.topBar > div {
  margin: 10px 10px;
}
