.body {
  margin-top: 20px;
}

.textField {
  margin-bottom: 10px !important;
}

.heading {
  margin-bottom: 30px !important;
}

.uploadPicture {
  display: none;
}

.uploadButton {
  margin-bottom: 10px !important;
}
